body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', system-ui, sans-serif;
  background-color: #eee;
  color: #333;
  overflow: hidden;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
